fastapi
prometheus-fastapi-instrumentator
supabase
tenacity
uvicorn
websockets
pandas
python-dateutil
pytz
six
numpy
scikit-learn
torch
yfinance
joblib
pyjwt
pydantic>=2.13.4
pydantic_core==2.46.4
click
h11
starlette
annotated_types
annotated_doc
anyio
typing_extensions
typing_inspection
prometheus_client
scipy
narwhals
threadpoolctl
